# All files except...
/**

# README
!README.md

!/.local/
# Script
!/.local/bin/
!/.local/bin/awesome.sh
!/.local/bin/cmd_online_help.sh
!/.local/bin/status.sh
# Desktop entry
!/.local/share/
!/.local/share/applications/
!/.local/share/applications/top.desktop



# User config directory
!/.config/

# zsh
!.zshrc
# Bash
!.config/bash/
!.config/bash/**
# Fish
!.config/fish/
!.config/fish/config.fish

# Python
!.pylintrc

# Git
!.gitignore

# rg
!.ignore
!.rgignore

# Vim
!/.vim/
!/.vim/**
/.vim/pack/**
/.vim/.netrwhist
# Plugin manager: vim-plug
/.vim/autoload/plug.vim

!/.config/slim/
!/.config/slim/**
/.config/slim/pack/**
/.config/slim/.netrwhist

# Neovim
!/.config/nvim/
!/.config/nvim/**
/.config/nvim/.luarc.json
!/.config/nvimini/
!/.config/nvimini/**
/.config/nvimini/.luarc.json

# Tmux
!.config/tmux/
!.config/tmux/tmux.conf

# Info
!/.infokey

# Backupfiles
/**/*~
/**/*swp
/**/*swo

