# All files except...
/**

# README
!README.md

# User config directory
!/.config/

# Shell
!/.local/
!/.local/bin/
!/.local/bin/**
# zsh
!.zshrc
# Bash
!.config/bash/
!.config/bash/**
# Fish
!.config/fish/
!.config/fish/config.fish

# Git
!.gitignore
!.gitconfig

# Vim
!/.vim/
!/.vim/**
/.vim/.netrwhist
# Plugin manager: vim-plug
/.vim/autoload/plug.vim

# Neovim
!/.config/nvim/
!/.config/nvim/**
/.config/nvim/lazy-lock.json

# Tmux
!.config/tmux/
!.config/tmux/tmux.conf

# Cheatsheet
!/.config/cheat/
!/.config/cheat/cheatsheets/
!/.config/cheat/cheatsheets/personal
!/.config/cheat/cheatsheets/personal/*

# Info 
!/.infokey

# Backupfiles
/**/*~
/**/*swp
/**/*swo

# lua-language-server file
/**/.luarc.json
